/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=PT+Sans:400,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.4);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    padding-top: 40px;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding-top: 20px;
    margin-top: -40px;
    background: #ffffff;
}
#sidebar .sidebar-header img{
    width:200px; 
    height:50px;
    margin-left: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}
/* ---------------------------------------------------
    HEADER STYLE
----------------------------------------------------- */
.search-bar {            /*WIDTH CHECK*/
	width: 120%;
	position: relative;
    vertical-align: middle;
	height: 60px;
	top: 3%;
	transform: translateY(-50%);
    margin-left: 10px;
}
.search {
	padding: 0px 30px;
	font-size: 18px;
	width: 820px;
	height: 35px;
	border-width: 0.5px;
    border-color: rgb(224, 220, 220);
	border-radius: 20px 0 0 20px;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3);
}
.search-bar input {
	box-sizing: border-box;
    border-width: 0.5px;
    border-color: rgb(224, 212, 212);
	font-size: 13px;
	vertical-align: top;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
}
.search-bar-submit {
	cursor: pointer;
	border: none;
	border-radius: 0 20px 20px 0;
    font-weight: 700;
	display: inline-block;
	width: 70px;
	height: 35px;
    box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
}
.log-time-clickable {
    position: relative;
    margin-left: 60%;
}
.log-time-button {
    vertical-align: middle;
    margin-left: 30px;
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    width: 100px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}
.bell-icon {
    margin-left: 10px;
    vertical-align: middle;
}
.avatar {
    margin-left: -10px;
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
.user-name {
    vertical-align: middle;
    margin-left: 2px;
}
.search-bar a {
    text-decoration: none; 
    color: black;
}
.search-bar a[data-toggle="collapse"] {
    position: relative;
    padding: 35px;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding-top: 20px;
    padding-left: 0px;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #c1d4de38;
    box-shadow: -1px 0px 4px rgba(0, 0, 0, 0.3);
    margin-left: 1px;
}
.content-area {
    margin-left: 10px;
    height: 97%;
}
.content-area i {
    font-size: 30px;
}
.action-button {
    background-color: #6d7fcc !important; 
    color: white !important;
    border-radius: 5px 5px 5px 5px;
    width: 100px;
    height: 30px;
    font-family: 'Poppins', sans-serif ;
    font-size: 13px !important;
    font-weight: bold !important;
    letter-spacing: 1px;
    float: right;
    margin-right: 20px;
}
.nav-tab-content {
    background-color: white;
    padding-top: 40px;
    margin-left: 16px;
    margin-right: 20px;
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}